/*=====================================*/
// CubeSurfaceCompose STYLE
// Cube作りたい2
// 全てrectで作ってみる
/*=====================================*/

$boxWidth: 200px;
$boxHeight: 200px;
$boxThic: 10px;
$hoverEffectVal: 4px;

.box {
  &--content {
    width: $boxWidth;
    height: $boxHeight;
    white-space: pre-wrap;
    position: relative;
  }
  &--front {
    &__surface {
      width: $boxWidth;
      height: $boxHeight;
      background: black;
      border: solid 1px white;
      position: absolute;
      top: -$boxThic/2;
      right: -$boxThic/2;
      z-index: 1;
      transition: 0.1s;
    }
  }
  &--side {
    &__surface {
      border: solid 1px;
      border-image-slice: 1;
      position: absolute;
      transform-origin: 0% 0%;
      &--left {
        width: $boxThic;
        height: $boxHeight;
        transform: skewy(-45deg);
        top: $boxThic/2;
        left: -$boxThic/2;
        border-image: linear-gradient(
          to left,
          #00000000 0%,
          #00000000 5%,
          #fff 6%,
          #d5d5d5 40%,
          #2f2f2f 100%
        );
        border-right-style: hidden;
        border-bottom-style: hidden;
        border-image-slice: 1;
        transition: 0.1s;
      }

      &--bottom {
        width: $boxWidth;
        height: $boxThic;
        background-clip: padding-box;
        transform: skewx(-45deg);
        bottom: -$boxThic/2;
        right: -$boxThic/2;
        border-image: linear-gradient(
          to bottom,
          #fff 0%,
          #d5d5d5 40%,
          #2f2f2f 100%
        );
        border-top-style: hidden;
        border-image-slice: 1;
        transition: 0.1s;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  a:hover {
    .box--front__surface {
      // background: red;
      top: -1px;
      right: -1px;
      transition: 0.1s;
    }
    .box--side__surface--left {
      width: $boxThic - $hoverEffectVal;
      transition: 0.1s;
    }
    .box--side__surface--bottom {
      height: $boxThic - $hoverEffectVal;
      right: -1px;
      transition: 0.1s;
    }
  }
}
